@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-app {
  background-color: #2e7d32;
  padding: 24px;
  display: flex;
  justify-content: space-around;
  font-size: larger;
}

.navbar-app a {
  color: white;
  text-decoration: none;
}

.navbar-app a:hover {
  text-decoration: underline;
}
